body {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 17%,
		rgba(38, 36, 28, 1) 23%,
		rgba(75, 72, 19, 1) 37%,
		rgba(101, 98, 13, 1) 53%,
		rgba(121, 118, 9, 1) 66%,
		rgba(97, 50, 90, 1) 79%,
		rgba(76, 86, 126, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
	color: #fff;
	font-family: monospace;
}
#buttonDiv {
	padding: 15px;
}
.images {
	height: 200px;
	width: 200px;
	border: 3px solid black;
	margin: 3px;
}

#sDiv {
	width: 300px;
}

#gifDiv {
	width: 800px;
}
.animal-button {
	margin: 4px;
}

footer {
	text-align: center;
}
#footerDiv {
	padding-top: 10px;
	margin-top: 450px;
	background-color: rgba(0, 0, 0, .6);
}
