body {
	background-image: url('..//images/bg.jpg');
	background-size: cover;
	color: #fff;
	font-family: monospace;
}
#my-heading {
	margin-top: 5px;
	font-size: 60px;
}
#buttonDiv {
	padding: 15px;
}
.images {
	height: 200px;
	width: 200px;
	border: 3px double black;
	margin: 3px;
}

#sDiv {
	width: 300px;
	margin-left: 100px;
}

#gifDiv {
	width: 600px;
	padding-right: 10px;
	border-right: solid white 4px;
	height: auto;
}
.animal-button {
	margin: 4px;
}

footer {
	text-align: center;
	padding-top: 10px;
	margin-top: 400px;
	background-color: rgba(0, 0, 0, .6);
	padding-bottom: 5px;
}

.newPadding {
	margin: 10px;
}
